GauntletEditor/Library/
GauntletEditor/Logs/
Gauntlet Game/Game/.vs/
Gauntlet Game/Game/Intermediate/
GauntletEditor/Temp/
*.meta
GauntletEditor/GauntletEditor.sln
GauntletEditor/Assembly-CSharp-Editor.csproj
GauntletEditor/.vs/
GauntletEditor/obj/
*.csproj
